.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 50px;
    text-decoration: none;
}

.active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}